input {
    background-color : #24292E !important;
    color : rgb(255, 255, 255)!important;
    border-color: aliceblue;
}
#foreground {
    width : 20vw;
    height : 30vh;
    padding : 2% 0.5%;
    text-align : center;
    background-color : #24292E;
    opacity : 0.6;
    color : rgb(255, 255, 255)!important;
    border-radius : 0.9em;
    margin : auto;
}
body {
    background-color: #0e1116;
}
small {
    color : red!important;
}
@media screen and (max-width : 500px) {
    #foreground {
        position : fixed;
        left : 25vw;
        top : 20vh;
        width : 50vw;
        height : 50vh;
        padding-top : 30%;
    }
}
@media screen and (min-width : 500px) {
    #foreground {
        position: absolute;
        top : 30%;
        left : 40%; 
    }
}