{% extends "layout.html" %}
    {% block title %}Snake{% endblock %}
    {% block body %}
        <style>
            img {
                height : 100px;
            }
        </style>
        <link href="../static/styles.css" rel="stylesheet">
        <img src="../static/images/swamp.jpg" class="image-fluid" alt="background image" id="background-image">
        <div id="snake-selector" class="foreground option" >
            <p>Choose Your Snake !</p>
            <div style="height:7rem;">
                <img src="../static/images/snake1.png" alt="snake" id="snake1">
                <img src="../static/images/snake2.png" alt="snake" id="snake2">
                <img src="../static/images/snake3.jpg" alt="snake" id="snake3">
            </div>
        </div>

    {% endblock %}