{% extends "layout.html" %}
    {% block title %}login{% endblock %}
    {% block body %}
    <link href="../static/styles.css" rel="stylesheet">
    <video loop id="background-image" autoplay muted>

        <source src="../static/Snake.mp4" type = "video/mp4">
 
    </video>
    <div>
        
        <div class="foreground login">
            <div class="mb-3">
                <input class="mx-auto form-control" id="username" name="username" autocomplete="on" autofocus placeholder="Username" type="text">
                <small class="form-text" id="error-username" ></small>
            </div>
            <div class="mb-3 form-group">
                <input class="form-control mx-auto" id="password" name="password" placeholder="Password" type="password">
                <small class="form-text" id="error-password" ></small>
            </div>
            <button id="submit" class="btn btn-dark mx-auto">Log In</button>
            <button id="register" class="btn btn-light mx-auto">Register</button>
        </div>
    </div>
    <script>
        let Input1 = document.getElementById("username")
        let Input2 = document.getElementById("password")

        document.getElementById("submit").addEventListener("click",function () {
            let ajax = new XMLHttpRequest();
            let auth = {"username":Input1.value,"password":Input2.value}
            ajax.onreadystatechange = function() {
                console.log(ajax.readyState,ajax.status)
                if ((ajax.readyState==4)&&(ajax.status==403)) {
                    // auth failed 
                    let error = JSON.parse(ajax.response)
                    console.log(error["error"])
                    // invalid username
                    if (error["error"] == "username") {
                        changeState(Input1.id);
                        document.getElementById("error-username").innerHTML = "Username does not exist.";
                    }
                    if (error["error"] == "password") {
                        changeState(Input2.id)
                        document.getElementById("error-password").innerHTML = "Incorrect password.";
                    }
                    
                }
                if ((ajax.readyState==4)&&(ajax.status==302)) {
                    location.replace("/snake")
                }
            };
            ajax.open("POST","/login",true)
            ajax.send(JSON.stringify(auth))
        });

        function changeState(id) {
            e = document.getElementById(id);
            e.style.border = "3px solid";
            e.style.borderColor = "#f00";
        }
        Input2.addEventListener("keydown",function(e) {
            if (e.key == "Enter") {
                document.getElementById("submit").click();
            }
        });
        document.getElementById("register").addEventListener("click",function() {
            location.replace("/register");
        })
    </script>
    {% endblock %}